body{
  margin:0;
  font-family:Poppins, sans-serif;
  background:#f4f8f3;
}

.header{
  background:#2e7d32;
  padding:20px;
  text-align:center;
}
.title{
  color:white;
  font-size:2rem;
  margin:0;
  font-weight:700;
}
.subtitle{
  color:white;
  font-size:1.2rem;
  margin-top:5px;
  font-weight:400;
}

.nav{
  margin-top:15px;
}
.nav-btn{
  background:white;
  color:#2e7d32;
  padding:8px 16px;
  border:none;
  border-radius:6px;
  margin:0 5px;
  font-weight:600;
  cursor:pointer;
}

.page{
  display:none;
  padding:25px;
}
.page.active{
  display:block;
}

/* Cards */
.card-container{
  display:flex;
  gap:25px;
  justify-content:center;
  flex-wrap:wrap;
  margin-top:30px;
}

.card{
  background:white;
  padding:25px;
  width:300px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,.15);
  cursor:pointer;
}

.icon{
  font-size:40px;
  color:#2e7d32;
  margin-bottom:10px;
}

/* Details */
.details-box{
  display:none;
  background:white;
  padding:20px;
  width:450px;
  margin:30px auto;
  border-left:6px solid #2e7d32;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,.15);
}
.details-box h3{
  margin-top:0;
  font-size:1.4rem;
  color:#2e7d32;
}

/* Piezo activation */
.dashboard-alert{
  background:#ffe6e6;
  color:#b30000;
  border-left:6px solid red;
  width:450px;
  margin:30px auto;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,.15);
}

/* Alerts */
.alert-options{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}
.alert-btn{
  background:#ff7043;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
}

/* Popup */
.popup{
  display:none;
  position:fixed;
  left:50%;
  top:20%;
  transform:translateX(-50%);
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 5px 20px rgba(0,0,0,.3);
}
.popup button{
  margin-top:10px;
  padding:8px 12px;
  background:#2e7d32;
  color:white;
  border:none;
  border-radius:6px;
}